﻿@model List<AcerPro.Review.Common.Models.Entities.PostEntities.CalculateModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

   <script>
   $(document).ready(function () { 
    });
    </script>
</head>
<body>
    <div class="container"> 
        <div class="row">
            <div class="mb-3 row">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 row">
                <label for="valueOne" class="col-sm-2 col-form-label">Value One</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="valueOne">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="valueTwo" class="col-sm-2 col-form-label">Value Two</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="valueTwo">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="valueTwo" class="col-sm-2 col-form-label">Operation</label>
                <div class="col-sm-2">
                   <select class="form-select" id="operation">
                      <option selected>Select Operation</option>
                      <option value="1">Add</option>
                      <option value="2">Divide</option>
                      <option value="3">Multiply</option>
                      <option value="4">Substract</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="valueTwo" class="col-sm-2 col-form-label">Result : </label>
                <div class="col-sm-2">
                    <input readonly type="number" class="form-control" id="result" value='@ViewBag.result' >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 row">
                <div class="col-sm-2">                    
                    <button id="send" type="button" class="btn btn-success">Calculate</button>
                </div>
                <div class="col-sm-2">                    
                    <button type="button" id="save" class="btn btn-primary" >Save</button>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="mb-3 row">
              <table class="table">
  <thead>
    <tr>
      <th scope="col">Operation</th>
      <th scope="col">Value One</th>
      <th scope="col">Value Two</th>
      <th scope="col">Result</th>
      <th scope="col">Create At</th>
      <th scope="col">Update At</th>
      <th scope="col">Delete At</th>
      <th scope="col">Is Active</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var datas in Model)
   {
    <tr>
      <td>@Enum.GetName(typeof(AcerPro.Review.Common.Models.Entities.PostEntities.OperationType), datas.Operation)</td>
      <td>@datas.valueOne</td>
      <td>@datas.valueTwo</td>
      <td>@datas.Result</td>
      <td>@datas.CreateAt</td>
      <td>@datas.UpdateAt</td>
      <td>@datas.DeleteAt</td>
      <td>@datas.IsActive</td>
    </tr>   
    }
  </tbody>
</table>
            </div>
        </div>
    </div>
     <script>
    $(document).ready(function () { 
        $("#save").click(function () {
        var postData = new Object();
                postData.valueOne = $("#valueOne").val();
                postData.valueTwo = $("#valueTwo").val();
                postData.Result   = $("#result").val();
                postData.Operation = $("#operation").val();
            $.ajax({
                url: 'Save',                                           
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                datatype: 'json',
                data: JSON.stringify({parms:postData}),
                success: function (data) {
                    location.reload();
 
                },
                error: function (data) {
                    $("#result").val(data);
                }

            });
        });

        
        $("#send").click(function () {
        var postData = new Object();
                postData.valueOne = $("#valueOne").val();
                postData.valueTwo = $("#valueTwo").val();
                postData.Result   = $("#result").val();
                postData.Operation = $("#operation").val();
            $.ajax({
                url: 'Calculate',                                           
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                datatype: 'json',
                data: JSON.stringify({parms:postData}),
                success: function (data) {
                    $("#result").val(data);
 
                },
                error: function (data) {
                    $("#result").val(data);
                }

            });
        });
    });
    </script>
</body>
</html>
